body {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

.icon {
   font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
  background: white;
}

#container {
  height: 100vh; /* vh = 100% of viewport, relatively new CSS addition */
  background-color: #333;
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto 50px;

  grid-template-areas: "left main right"
                       "left bottom right"

}

#main {
  grid-area: main;
  background: #fff;
}

#bottom {
  grid-area: bottom;
}

#left {
  grid-area: left;
  background-color: red;
}


#tools {
  z-index: 99;
  margin: 0;
  padding: 0;
  border: 2px solid #333;
  background: #333;
  margin: 3px;
}

#grid-win {
  z-index: 99;
  position: absolute;
  width: 160px;
  height: 300px;
  bottom: 200px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: 2px solid #333;
  background: #333;
  margin: 3px;
  color: white;
}


#grid-container {
  height: 270px; // Container must have height for scrollbar/overflow to work
  overflow-y: scroll;
  background: #eee;
}

#tools-container > hr {
  height: 28px;
  padding: 0;
  margin: 0;
}

#tools-container {
  /*height: 530px; // Container must have height for scrollbar/overflow to work*/
  overflow-y: scroll;
  background: #eee;
}

#tools-title {
  background: #333;
  color: white;
  font-size: 12px;
  height: 28px;
  text-align: center;
  padding: 6px;
}

#tools-bottom {
  padding: 3px;
}

#tool-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3;
  grid-template-rows: 20;
}

#edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.tao {
  z-index: 1;
  border: solid 2px black;
  width: 100%;
  height: 100px;
}

.header {
  width: 100%;
  height: 100px;
  background: #ccc;
}

.btn-block {
  height: 30px;
}

.tool {
  width: 150px;
  background: #ccc;
}

.tao-header {
  grid-area: 1/1/1/3;
}
