body, #tools-title {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

.icon {
   font-size: 20px;
}

#tools {
  position: absolute;
  width: 160px;
  height: 600px;
  top: 100px;
  left: 10px;
  margin: 0;
  padding: 0;
  z-index: 99;
  border: 2px solid #333;
  background: #333;
  margin: 3px;
}

#tools-container {
  height: 530px; // Container must have height for scrollbar/overflow to work
  overflow-y: scroll;
  background: #eee;
}

#tools-title {
  background: #333;
  color: white;
  font-size: 12px;
  height: 28px;
  text-align: center;
  padding: 6px;
}

#tools-bottom {
  padding: 3px;
  
}

#tool-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3;
  grid-template-rows: 20;
}

.btn-block {
  height: 30px;
}

.tool {
  width: 150px;
  background: #ccc;
}



.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
